
/* login */
.loginForm {
  margin: 20px auto;
  width: 190px;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

#accueil-logo {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}
@media screen and (max-width: 480px) {
  #accueil-logo {
    margin:auto;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header a {
  padding: 0 10px;
}

.titre-affiche {
  float: right;
}

.creation-l {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*vote*/
.poster {
  width : 200px;
  margin-right : 10px;

}
ul {
  list-style-type: none;
}

.vote-film-list {
  margin-right: 10px;
  float: left;
  height:auto;
  max-height:700px;
  overflow:auto;
}

/*classements users*/
.classmentUsers {
  text-align: center;
}