
/* login */
.loginForm {
  margin: 20px auto;
  width: 190px;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

#accueil-logo {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 480px) {
  #accueil-logo {
    margin:auto;
  }
}
@media screen and (max-width: 480px) {
  #accueil-logo {
    margin:auto;
  }
}

body {
    background-color: #bbe5ef;
    background-size: contain;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.header a {
  text-align:center;
  text-decoration: none;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 150%;
  color: #FFF;
  background: #0CADA7;
  padding: 10px 15px;
  display: inline-block;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header a:hover {
  background: #0A948F;
}

.header a#profil {
    position: absolute;
    right: 0;
}

.titre-affiche {
  padding: 50px
}

.creation-l {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/*vote*/
.poster {
  width : 200px;
  margin-right : 10px;

}

.affiche {
  width : 300px;
}

ul {
  list-style-type: none;
}

.vote-film-list {
  margin-right: 0px;
  float: left;
  max-height:90vh;
  overflow:auto;
  overflow-x:hidden;
}

/*classements users*/
.classmentUsers {
  text-align: center;
}

.connexionRefusee{
  color: crimson;
}

.loader-image {
  text-align: center;
}

.film-l {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
}
.details {
  width: 20%;
  padding: 0px 10%;
}

.ng-view {
  max-height : 100vh;
}