<div >
  <img id="accueil-logo" ng-src="https://media.discordapp.net/attachments/412535042938765313/424136646535938058/Logo1.png" alt="logo">
</div>
<div class="loginForm">
  <form>
    Nom d'utilisateur<br>
    <input type="text" name="login" ng-model="login"/>
    <br>
    Mot de passe<br>
    <input type="password" name="mdp" ng-model="mdp" />
    <br>
    <span class="connexionRefusee" ng-show="refusee" >Nom d'utilisateur ou mot de passe incorrect</span>
    <br />
    <button type="button" ng-click="connexion()">Connexion </button>
  </form>
  <button ng-click="go('/creation')">Création de compte </button>
</div>

