<div  ng-include="'vue/header-creation.html'"></div>
<div ng-show="loader"  class="loader-image">
  <img ng-src="https://i.stack.imgur.com/h6viz.gif" alt="loader image">
</div>
<div ng-show="!loader" class="creation">
  <form action="">
    <div class="creation-l">
      <div>
        Nom d'utilisateur<br>
        <input type="text" name="pseudo" ng-model="pseudo"/>
      </div>

      <div>
        Adresse mail<br>
        <input type="text" name="mail" ng-model="mail"/>
      </div>

      <div>
        Genre préféré <br />
        <select name="genrePrefere" ng-model="genrePrefere">
          <option value="Comédie">Comédie</option>
          <option value="Drame">Drame</option>
          <option value="Action">Action</option>
        </select>
      </div>
    </div>

    <div class="creation-l">
      <div >
        Mot de passe<br>
        <input type="password" name="mdp" ng-model="mdp"/>
      </div>
      <div>
        Confirmer le mot de passe<br>
        <input type="password" name="mdpConf" ng-model="mdpConf"/>
      </div>
      <div>
      </div>
    </div>

    L'image avatar ici <br />
    <input type="text" name="lienAvatar" ng-model="lienAvatar"/>
    <br><br>
  </form>
  <br />
  <button ng-click="creation()">Confirmer </button>
</div>
