<div  ng-include="'vue/header-creation.html'"></div>

<div class="creation">
  <form action="">
    <div class="creation-l">
      <div>
        Nom d'utilisateur<br>
        <input type="text" ng-model="pseudo"/>
      </div>

      <div>
        Adresse mail<br>
        <input type="text" ng-model="mail"/>
      </div>

      <div>
        Genre préféré <br />
        <select ng-model="genrePrefere">
          <option value="Comédie">Comédie</option>
          <option value="Drame">Drame</option>
          <option value="Action">Action</option>
        </select>
      </div>
    </div>

    <div class="creation-l">
      <div >
        Mot de passe<br>
        <input type="password" ng-model="mdp"/>
      </div>
      <div>
        Confirmer le mot de passe<br>
        <input type="password" ng-model="mdpConf"/>
      </div>
      <div>
      </div>
    </div>

    L'image avatar ici <br />
    <input type="text" ng-model="lienAvatar"/>
    <br><br>
      <button>Valider</button>
  </form>
  <br />
  <button ng-click="creation()">Confirmer </button>
</div>
