<div  ng-include="'vue/header.html'"></div>

<div class="vote-film-list">
  <ul ng-repeat="film in films">
    <li>
      <img ng-click="details(film)" class="poster" ng-src="{{film.lien_image}}" alt="{{film.titre}}">
    </li>
  </ul>
</div>

<div>
  <div>
    <p>
      <h1>Résumé du film</h1>
      {{detail.resume}}
    </p>
  </div>

  <div class="titre-affiche">
    <h1>{{detail.titre}}</h1>
    <img class="affiche" ng-src="{{detail.lien_image}}" alt="{{film.titre}}">
  </div>

  <div>
    <h1>Citation du jour </h1>
    <p>{{citation.citation}}</p>
    <button href="" ng-click="voter(detail.id)"> voter</button>
  </div>
</div>
